#note-page{
  background-color: dimgray;
}
#past-sessions {
  background-color: rgba(68, 66, 66, 0.374);
}
.past-article {
  height:95%;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.unique-aspectratio {
  background-position: center;
  background-size:cover;
  padding-bottom: 56.25%;
  aspect-ratio: 1;
}
.past-text {
  display: block;
  padding: 10px;
  color:black;
  font-size: larger;
  font-weight: 500;
}
#one-shots {
  background-color: rgb(236, 236, 236, .3);
}
.shots-article {
  height: 95%;
  margin: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.shots-aspectratio {
  background-position: center;
  background-size:cover;
  padding-bottom: 56.25%;
  aspect-ratio: 1;
}
.shots-text {
  display: block;
  padding: 10px;
  color:black;
  font-size: larger;
  font-weight: 500;
}
.sitemap {
  text-decoration: none;
  color: rgb(42, 42, 42);
}