@media (min-width: 1200px) {
  #stat-header {
    position: relative;
    top: 120px;
    width: 100%;
    box-shadow : 0 16px 40px rgba(253, 166, 25, 0.732);
  }
  .container-fluid {
    max-width: 1080px;
  }
}

@media (max-width: 767px) {
  .headings {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
  }
  .callToAction {
    .headings p {
      font-size: 1rem;
    }
  }
}


#message {
  bottom: 0;
  right:0;
}

.row {
  z-index: 0;
}

#searchForm .btn-danger {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #FF5A5F;
  border-color: #FF5A5F;
}

.scrollableRow {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 28px;
  padding-right: 28px;
}

.scrollableRow > [class*=col-] {
  padding-left: 6px;
  padding-right: 6px;
}

.review .description {
  line-height: 18px;
  max-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipses;
}

.aspectRatioBox {
  padding-top: calc(2/3 * 100%);
  background-size: cover;
  background-position: center;
}

.review {
  .user {
    i {
      font-size: 45px;
    }
    .name b {
      font-weight:500;
    }
    .location {
      line-height: 18px;
    }
  }
}

.valueProp {
  .icon {
    font-size: 40px;
    line-height: 40px;
    color: rgb(65, 198, 188);
  }
  .title {
    font-weight: 500;
  }
}

.listing {
  .location {
    line-height: 18px
  }
  .location small {
    font-weight: 700;
    font-size: 12px;
  }
  .title {
    font-weight: 600;
    margin-top: 1px;
    color: #4e0303
  }
  .pricing {
    line-height: 18px;
    margin-top: 2px;
  }
  .pricing small {
    font-weight: 300;
  }
  .info {
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    .rating {
      font-size: 8.5px;
      letter-spacing: -1px;
      margin-right: 3px;
    }
  }
}

.listing:hover {
  background-color: rgba(0, 255, 255, 0.3);
}

.listingsLink {
  color: #008489;
  font-size: 17px;
}

.overlay {
  top: 0;
}

.overlay:hover {
  background-color: rgba(0, 255, 255, 0.3);
}

.callToAction button {
  background-color: #008489;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footerNav {
  a {
    font-size: 14px;
  }
  h5 {
    font-size: 14px;
    line-height: 18px;
  }
  .social {
    font-size: 18px;
    height: 18px;
  }
}

.footerBar {
  small {
    font-size: 14px;
  }
  .select .angle {
    transform: rotate(90deg);
  }
}