@media (min-width: 1200px) {
  #stat-header {
    position: relative;
    top: 120px;
    width: 100%;
    box-shadow : 0 16px 40px rgba(253, 166, 25, 0.732);
  }

}

#stat-page{
  background-color: rgb(123, 37, 37);
}

.row {
  z-index: 0;
}


.footer-image {
  background-position: center;
  background-size: cover;
  height:20em;
}
